source https://api.nuget.org/v3/index.json

storage: none

nuget FSharp.Analyzers.SDK
nuget FSharp.Compiler.Service 38.0.0
nuget Azure.Cosmos 4.0.0-preview3 preview
nuget FSharp.Control.AsyncSeq 2.0.24
nuget System.Json
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Configuration.Json
nuget Expecto
nuget YoloDev.Expecto.TestSdk 0.9.2
nuget Microsoft.NET.Test.Sdk 16.8.3
nuget Microsoft.SourceLink.GitHub copy_local: true
nuget Microsoft.NETFramework.ReferenceAssemblies copy_local: true
nuget Microsoft.Build
nuget Microsoft.Build.Framework
nuget Microsoft.Build.Utilities.Core
nuget FSharp.SystemTextJson 0.10.25

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.Testing.Expecto
    nuget Fake.BuildServer.GitHubActions