source https://www.nuget.org/api/v2
source https://api.nuget.org/v3/index.json

storage: none

nuget FSharp.Analyzers.SDK
nuget FSharp.Compiler.Service 35.0.0
nuget Azure.Cosmos 4.0.0-preview3 preview
nuget FSharp.Control.AsyncSeq
nuget System.Json
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Configuration.Json
nuget Expecto 8.13.1
nuget YoloDev.Expecto.TestSdk 0.8.0
nuget Microsoft.NET.Test.Sdk 16.5.0
nuget Microsoft.SourceLink.GitHub prerelease copy_local: true
nuget Microsoft.NETFramework.ReferenceAssemblies copy_local: true

nuget FSharp.SystemTextJson 0.10.25
// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.Testing.Expecto