source https://api.nuget.org/v3/index.json

storage: none

nuget FSharp.Analyzers.SDK
nuget FSharp.Compiler.Service
nuget FSharp.Control.AsyncSeq
nuget Microsoft.Azure.Cosmos
nuget System.Json
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Configuration.Json
nuget Expecto
nuget YoloDev.Expecto.TestSdk
nuget Microsoft.NET.Test.Sdk 16.8.3
nuget Microsoft.SourceLink.GitHub copy_local: true
nuget Microsoft.NETFramework.ReferenceAssemblies copy_local: true
nuget Microsoft.Build
nuget Microsoft.Build.Framework
nuget Microsoft.Build.Utilities.Core
nuget FSharp.SystemTextJson

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Core.Target
    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.Testing.Expecto
    nuget Fake.BuildServer.GitHubActions